<section
  id="about"
  class="container max-w-5xl mx-auto grid grid-cols-1 place-items-center gap-10 md:grid-cols-2 text-white mt-14 md:mt-20 p-4 md:px-10"
>
  <div class="gtislide-in-left">
    <img
      src="./assets/me.jpg"
      alt="Foto de Pedro Augusto"
      class="w-[200px] md:w-[488px] md:h-[488px] rounded-md border-2 border-[#170033]"
    />
  </div>
  <div
    class="flex flex-col justify-center items-center gap-4 text-center md:text-left max-w-[624px] slide-in-right"
  >
    <div class="bg-[#5A3E9E40] px-8 py-3 rounded-md">🧐 Sobre mim</div>
    <h2 class="text-2xl font-semibold text-[#8A75C3]">Pedro Augusto</h2>
    <p class="font-medium">
      Sou desenvolvedor full-stack com experiência em JavaScript, Next.js,
      React.js e Node.js. Crio aplicações modernas, performáticas e escaláveis.
      Tenho paixão por desenvolver soluções que unem usabilidade, performance e
      boas práticas, garantindo uma experiência fluida para o usuário.
    </p>
  </div>
</section>

<style>
  @media (min-width: 1024px) {
    .slide-in-left {
      -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .slide-in-right {
      -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
