<div class="relative">
  <img
    src="/assets/blur.png"
    alt=""
    class="absolute top-0 left-0 w-full h-full z-0 opacity-80"
  />
  <section
    class="relative z-10 container max-w-5xl mx-auto grid grid-cols-1 place-items-center gap-10 text-white mt-14 md:mt-20 p-4 md:px-10"
  >
    <div
      class="relative z-10 p-10 flex flex-col justify-center items-center gap-4 text-center"
    >
      <h2 class="text-5xl font-semibold text-[#C4B4F2]">
        Gostou do meu trabalho?
      </h2>
      <p class="text-[32px]">
        Entre em contato ou acompanhe as minhas redes sociais!
      </p>
      <ul class="flex flex-col gap-8 text-lg font-medium mt-20">
        <li
          class="flex items-center justify-between gap-2 bg-[#5A3E9E] py-3.5 px-6 w-[448px] rounded-md cursor-pointer hover:bg-[#5A3E9E80] transition duration-300"
        >
          <spa class="flex items-center gap-2">
            <img src="/public/assets/icons/linkedin.svg" alt="logo linkedin" />
            <a href="/public/assets/icons/linkedin.svg"> Linkedin</a>
          </spa>
          <img src="/public/assets/icons/seta.svg" alt="seta" />
        </li>
        <li
          class="flex items-center justify-between gap-2 bg-[#5A3E9E] py-3.5 px-6 w-[448px] rounded-md cursor-pointer hover:bg-[#5A3E9E80] transition duration-300"
        >
          <spa class="flex items-center gap-2">
            <img src="/public/assets/icons/insta.svg" alt="logo do instagram" />
            <a href="/public/assets/icons/insta.svg">Instagram</a>
          </spa>
          <img src="/public/assets/icons/seta.svg" alt="seta" />
        </li>
        <li
          class="flex items-center justify-between gap-2 bg-[#5A3E9E] py-3.5 px-6 w-[448px] rounded-md cursor-pointer hover:bg-[#5A3E9E80] transition duration-300"
        >
          <spa class="flex items-center gap-2">
            <img src="/public/assets/icons/git.svg" alt="GitHub" />
            <a href="/public/assets/icons/git.svg">GitHub</a>
          </spa>
          <img src="/public/assets/icons/seta.svg" alt="Seta" />
        </li>
        <li
          class="flex items-center justify-between gap-2 bg-[#5A3E9E] py-3.5 px-6 w-[448px] rounded-md cursor-pointer hover:bg-[#5A3E9E80] transition duration-300"
        >
          <spa class="flex items-center gap-2">
            <img src="/public/assets/icons/mail.svg" alt="mail" />
            <a href="/public/assets/icons/mail.svg">Email</a>
          </spa>
          <img src="/public/assets/icons/seta.svg" alt="Seta" />
        </li>
      </ul>
    </div>
  </section>
</div>
