<div class="relative">
  <img
    src="/assets/blur.png"
    alt=""
    class="absolute top-0 left-0 w-full h-full z-0 opacity-80"
  />
  <section
    id="contact"
    class="relative z-10 container max-w-5xl mx-auto grid grid-cols-1 place-items-center gap-10 text-white mt-14 md:mt-20 p-4 md:px-10"
  >
    <div
      class="relative z-10 p-10 flex flex-col justify-center items-center gap-4 text-center"
    >
      <h2 class="text-3xl md:text-5xl font-semibold text-[#C4B4F2]">
        Gostou do meu trabalho?
      </h2>
      <p class="text-xl md:text-[32px]">
        Entre em contato ou acompanhe as minhas redes sociais!
      </p>
    </div>
    <ul class="flex flex-col gap-8 text-lg font-medium mt-20">
      <li
        class="bg-[#5A3E9E] rounded-md w-[250px] cursor-pointer hover:bg-[#5A3E9E80] transition duration-300 md:w-[448px]"
      >
        <a
          href="https://www.linkedin.com/in/pdro1409/"
          class="flex items-center justify-between gap-2 py-3.5 px-6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="flex items-center gap-2">
            <img src="/assets/icons/linkedin.svg" alt="logo linkedin" />
            Linkedin
          </span>
          <img src="/assets/icons/seta.svg" alt="seta" />
        </a>
      </li>

      <li
        class="bg-[#5A3E9E] rounded-md w-[250px] cursor-pointer hover:bg-[#5A3E9E80] transition duration-300 md:w-[448px]"
      >
        <a
          href="https://www.instagram.com/pedro1409p"
          class="flex items-center justify-between gap-2 py-3.5 px-6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="flex items-center gap-2">
            <img src="/assets/icons/insta.svg" alt="logo do instagram" />
            Instagram
          </span>
          <img src="/assets/icons/seta.svg" alt="seta" />
        </a>
      </li>

      <li
        class="bg-[#5A3E9E] rounded-md w-[250px] cursor-pointer hover:bg-[#5A3E9E80] transition duration-300 md:w-[448px]"
      >
        <a
          href="https://github.com/pdro1409"
          class="flex items-center justify-between gap-2 py-3.5 px-6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="flex items-center gap-2">
            <img src="/assets/icons/git.svg" alt="GitHub" />
            GitHub
          </span>
          <img src="/assets/icons/seta.svg" alt="Seta" />
        </a>
      </li>

      <li
        class="bg-[#5A3E9E] rounded-md w-[250px] cursor-pointer hover:bg-[#5A3E9E80] transition duration-300 md:w-[448px]"
      >
        <a
          href="mailto:panuness1010@gmail.com"
          class="flex items-center justify-between gap-2 py-3.5 px-6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="flex items-center gap-2">
            <img src="/assets/icons/mail.svg" alt="mail" />
            Email
          </span>
          <img src="/assets/icons/seta.svg" alt="Seta" />
        </a>
      </li>
    </ul>
  </section>
</div>
